:root {
    --light-blue: #80E9FF;
    --light-purple: #7A73FF;
    --light-green: #00ffa2;
}
body {
    background-color: #121212;
    font-family: Arial, Helvetica, sans-serif;
}
svg {
    cursor: pointer;
}
@keyframes spin {
    100% {  transform: rotate(360deg); }
}
@keyframes in-and-out {
    0% { transform: scale(1); }
    50% { transform: scale(3.3); }
    100% { transform: scale(1); }
}
@keyframes fade-in {
    100% { r: 0; opacity: 0.8; }
}
@keyframes pulse {
    0% { r: 0; opacity: 0.8; }
    50% { opacity: 0.6; }
    100% { opacity: 0; r: 200; }
}
@keyframes blue-and-spin {
    100% { transform: rotate(360deg); stroke: var(--light-blue); }
}
body {
    margin: 0px;
}
header {
    position: relative;
    width: 100%;
    height: 80px;
    background-color: #595959;
}
#header-container-left {
    position: relative;
    float: left;
    height: inherit;
    width: 30%;
    padding-left: 120px;
}
#title-Finley {
    color: #fff;
    bottom: 30px;
    position: relative;
    display: inline-block;
}
#outerCircle {
    stroke: var(--light-blue);
}
#centerCircle {
    fill: var(--light-blue);
}
#hexagon {
    stroke: var(--light-purple);
}
.connecting #hexagon {
    transform-origin: center;
    animation: blue-and-spin 2s ease infinite;
}
.connecting #outerCircle {
    transform-origin: center;
    animation: fade-in 2s ease-in infinite;
}
.connected #centerCircle {
    fill: var(--light-green);
}
.connected #outerCircle {
    stroke: var(--light-green);
    transform-origin: center;
    animation: pulse 2s ease infinite;
}
.connected #hexagon {
    stroke: var(--light-blue);
}
.spin {
    transform-origin: center;
    animation: spin 2s ease infinite;
}
.enlarge-shrink {
    transform-origin: center;
    animation: in-and-out 2s ease infinite;
}